<div class="box">
  <article class="media">
    <figure class="media-left">
      <div class="customer-card">
      <% if customer.image.attached? %>
  <%= image_tag customer.image, alt: customer.full_name, class: "customer-image" %>
<% else %>
  <%= image_tag 'placeholder.png', alt: 'No image', class: "customer-image" %>
<% end %>

    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= customer.full_name %></strong><br>
          <small><%= customer.email_address.presence || "No email provided" %></small><br>
          <small><%= customer.phone_number.presence || "No phone number" %></small><br>
          <%= simple_format(customer.notes) if customer.notes.present? %>
        </p>
      </div>
    </div>
  </article>
</div>
